/* 
Color Palete
Prim: #fdfdfd
Second: #a5ecd7
Tert: #51adcf
Quat: #025277
link - https://designs.ai/colors/palette/387
 */

/* 
 Fonts
 1) Roboto - font-family: 'Roboto', sans-serif;
 2) Nunito - font-family: 'Nunito', sans-serif;
 link - https://www.fontpair.co/pairings/roboto-nunito
 */
 :root {
  --prim: #fdfdfd;
  --second: #a5ecd7;
  --tert: #51adcf;
  --quat: #025277;
}
/* Resets */
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  width: 100%;
  background-color: var(--prim);
  color: var(--quat);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* Hides contents of div (see JS) */
.hidden {
  display: none !important;
}

/* Headers */
h1,
h2, 
h3 {
  font-family: 'Roboto', sans-serif;
}


/* top-container */
#top-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: .25em;
}

#view-score {
  width: 100%;
}

#view-score a {
  display: block;
  width: 45%;
  text-decoration: none;
  border: 1.5px solid var(--quat);
  color: var(--quat);
  font-weight: bold;
  padding: .3em 0;
  border-radius: 5px;
  text-align: center;
}

#timer {
  width: 5em;
  padding: .3em 0;
}

/* main container */
#main-container {
  display: block;
  width: 100%;
  height: 100vh;
}

/* Start Quiz */
.start-quiz {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: var(--second);
  font-size: 150%;
  text-align: center;
  margin: .1em .2em;
  padding: .5em;
}

.instruction-box {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.start-quiz h2 {
  font-size: 135%;
  margin-top: 20%;
}

.start-quiz p {
  font-size: 110%;
  margin: .25em 1em;
  padding: 1em 0;
  height: 30%;
}

.start-quiz h2::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--tert);
  margin: .5em 0;
}

.instruction-box::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--tert);
  margin: .5em 0;
}

.start-quiz button {
  width: 75%;
  margin: 50% auto .25em  auto;
  background-color: var(--quat);
  color: var(--prim);
  font-size: 120%;
  font-weight: bolder;
  letter-spacing: .1em;
  padding: .5em 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Quiz Questions */
.quiz-questions {
  display: block;
  width: 88%;
  margin: 30% auto 0;
}

.question {
  font-size: 110%;
  margin-bottom: .5em;
}

.question::before, .question::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--tert);
  margin: .25em 0;
}

.quiz-questions button {
  display: block;
  font-size: 100%;
  width: 100%;
  padding: .5em;
  text-align: start; 
  margin-bottom: .25em;
  background-color: var(--quat);
  color: var(--prim);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

/* Feedback */
.feedback {
  display: block;
  width: 88%;
  margin: .5em auto 0;
}

.feedback::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--tert);
}

.answer {
  font-size: 100%;
  margin-top: .25em;
  color: var(--tert);
}

/* Animations */
button:active {
  transform: scale(.98);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .start-quiz h2, .start-quiz button {
    margin-top: 5%;
  }

  /* quiz questions */
  .quiz-questions {
    width: 90%;
    margin-top: 2%;
  }

  .feedback {
    width: 90%;
  }
}  

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  h1 {
    font-size: 200%;
  }

  #timer {
    width: 4.5em;
  }
  
  .instruction-box {
    width: 70%;
    margin: 0 auto;
  }

  .start-quiz h2 {
    font-size: 180%;
    margin-top: 10%;
  }
  
 .start-quiz p {
    font-size: 120%;
  }
  
  #view-score a {
    width: 20%;
    font-size: 110%;
  }

  .start-quiz button {
    font-size: 150%;
    margin-top: 50%;
  }

  /* quiz questions */
  .quiz-questions {
    width: 88%;
    margin-top: 25%;
  }

  .feedback {
    width: 88%;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .start-quiz h2 {
    margin-top: 5%;
  } 

  .start-quiz button {
    margin-top: 10%;
    width: 70%;
  }

  /* quiz questions */
  .quiz-questions {
    width: 60%;
    margin-top: 8%;
  }

  .question {
    font-size: 130%;
  }

  .quiz-questions button {
    margin-bottom: .5em;
    font-size: 110%;
  }

  .feedback {
    width: 60%;
  }

  .answer {
    font-size: 110%;
  }

}