/* 
Color Palete
Prim: #fdfdfd
Second: #a5ecd7
Tert: #51adcf
Quat: #025277
link - https://designs.ai/colors/palette/387
 */

/* 
 Fonts
 1) Roboto - font-family: 'Roboto', sans-serif;
 2) Nunito - font-family: 'Nunito', sans-serif;
 link - https://www.fontpair.co/pairings/roboto-nunito
 */

:root {
  --prim: #fdfdfd;
  --second: #a5ecd7;
  --tert: #51adcf;
  --quat: #025277;
}

body {
  position: relative;
  width: 100%;
  background-color: var(--prim);
  color: var(--quat);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* Hides contents of div (see JS) */
.hidden {
  display: none !important;
}

/* Fonts */
h1,
h2,
h3,
.end-screen button {
  font-family: 'Roboto', sans-serif;
}

/* Font Size */
h1 {
  font-size: 150%;
}

h2 {
  font-size: 135%;
}

h3 {
  font-size: 115%;
}

a,
button {
  font-size: 110%;
}

p,
label,
input[type=text],
.answer {
  font-size: 100%;
}

/* For elements that don't inherit fontfrom body */
.nunito {
  font-family: 'Nunito', sans-serif;
}


/* Border Radius - round corners*/
.round {
  border-radius: 5px;
}

/* Buttons */
button,
#score-buttons a {
  background-color: var(--quat);
  color: var(--prim);
  padding: .5em;
}

button:active {
  transform: scale(.98);
}

/* Bottom Margin */
.m-bottom {
  margin-bottom: .5em;
}

/* top-container */
#top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .25em;
}

#view-score a {
  padding: .25em 1em;
  border: 1.5px solid var(--quat);
  color: var(--quat);
}

#timer {
  width: 16em;
  padding: .3em 0;
}


h1 {
  background-color: var(--second);
  text-align: center;
  margin: .1em .2em;
  padding: .5em;
}

/* main container */
#main-container {
  height: 100vh;
  width: 88%;
  margin: 0 auto;
}

/* Start Quiz */
.start-quiz {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.start-quiz h2 {
  margin-top: 20%;
}

.start-quiz p {
  padding: .5em 1em;
}

.start-quiz button {
  margin: 50% auto .25em auto;
  font-size: 120%;
  font-weight: bolder;
}

/* Quiz Questions */
.quiz-questions {
  margin: 30% auto 0;
}

.question {
  font-weight: 400;
}

.question b {
  font-weight: 900;
}

.quiz-questions button {
  width: 100%;
  text-align: start;
  margin-bottom: .25em;
}

/* .question b {
  font-weight: 1000;
} */

.answer {
  margin-top: .3em;
  color: var(--prim);
}

/* Feedback */
.feedback {
  margin: .5em auto 0;
}

.fb {
  margin-top: .3em;
  color: var(--tert);
}

/* End Screen */
.end-screen {
  margin: 30% auto 0;
}

.end-screen input[type=text] {
  width: 100%;
  border: none;
  background-color: rgba(81, 173, 207, .4);
  color: var(--quat);
  padding: .3em;
}

.end-screen button {
  padding: .3em 1em;
}

#submit-score,
#try-again {
  width: 49%;
}

#try-again {
  margin-top: .5em;
  justify-self: end;
}

/* High Scores */
#score-container {
  width: 60%;
  margin: 20% auto 0;
}

#score-container p {
  background-color: rgba(81, 173, 207, .3);
}

#score-container p {
  padding: .25em;
}

#score-buttons {
  display: flex;
  justify-content: space-between;
}

/* Converts text to uppercase for input and user initials*/
.all-caps {
  text-transform: uppercase;
}

/* Dividers */
.divider {
  height: 1px;
  background-color: var(--tert);
  margin: .5em 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #main-container {
    width: 90%;
  }

  /* Start Quiz */
  .start-quiz h2,
  .start-quiz button {
    margin-top: 1%;
  }

  /* quiz questions */
  .quiz-questions {
    margin-top: 2%;
  }

  /* End Screen */
  .end-screen {
    margin-top: 10%;
    padding-left: 6em;
  }

  /* Scores */
  #score-container {
    margin-top: 5%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* Top Container */
  #timer {
    width: 10em;
  }

  #main-container {
    width: 90%;
  }

  /* Start Quiz */
  .start-quiz h2 {
    margin-top: 10%;
  }

  .start-quiz button {
    margin-top: 10%;
  }

  /* quiz questions */
  .quiz-questions {
    margin-top: 20%;
  }

  /* End Screen */
  .end-screen {
    margin-top: 25%;
  }

  .end-screen button {
    padding: .3em;
  }

  /* Scores */
  #score-container {
    margin-top: 15%;
    width: 50%
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Font Size */
  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 140%;
  }

  h3 {
    font-size: 120%;
  }

  a,
  button {
    font-size: 115%;
  }

  p,
  label,
  input[type=text],
  .answer {
    font-size: 110%;
  }

  /* Top Container */
  #timer {
    width: 10.5em;
  }

  /* Start Quiz */
  .start-quiz h2 {
    margin-top: 5%;
  }

  .start-quiz button {
    margin-top: 10%;
  }

  /* quiz questions */
  .quiz-questions {
    margin-top: 8%;
  }

  .quiz-questions,
  .feedback {
    width: 60%;
  }

  /* End Screen */
  .end-screen {
    margin-top: 10%;
    width: 50%;
  }

  /* Scores */
  #score-container {
    margin-top: 5%;
    width: 30%
  }

}